<!-- ============================================================== -->
<!-- Notifications, Chart -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <app-cam-stats></app-cam-stats>
    </div>
</div>
<!-- ============================================================== -->
<!-- Email Campaigns -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-8">
        <app-email></app-email>
        <app-product-approval></app-product-approval>
        <div class="row">
            <!-- column -->
            <div class="col-sm-12 col-lg-6">
                <app-review></app-review>
            </div>
            <!-- column -->
            <div class="col-sm-12 col-lg-6">
                <app-week-poll></app-week-poll>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <app-user-profile></app-user-profile>
        <app-social></app-social>
        <app-poll></app-poll>
    </div>
</div>