<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
 

<!-- Navbar Header for horizontal only -->
 

<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-md-end">
  <!-- ============================================================== -->
  <!-- create new -->
  <!-- ============================================================== -->
 
  <!-- ============================================================== -->
  <!-- Comment -->
  <!-- ============================================================== -->
 
  <!-- ============================================================== -->
  <!-- End Comment -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Messages -->
  <!-- ============================================================== -->
  
  <!-- ============================================================== -->
  <!-- End Messages -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
 
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
