<div class="card product-widget">
    <div class="card-body">
        <h4 class="card-title">Products For Approval</h4>
        <h5 class="card-subtitle">Here is the list of products waiting for approval</h5>
        <div class="product d-flex align-items-center pt-3 pb-4 border-bottom">
            <img class="product-image me-3" alt="" src="assets/images/product/iphone.png">
            <div class="product-detail w-100">
                <h5 class="fw-bold">Apple iphone6 plus</h5>
                <span class="font-15 text-muted">Submitted for approval on 5 April 2017</span>
                <div class="d-none d-md-flex align-items-center mt-2">
                    <h4 class="fs-6 fw-bold text-info">$699.99</h4>
                    <div class="product-action ms-auto mb-2 align-self-end button-group">
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-outline-secondary">Decline</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="product d-flex align-items-center pt-3 pb-4 border-bottom">
            <img class="product-image me-3" alt="" src="assets/images/product/iwatch.png">
            <div class="product-detail w-100">
                <h5 class="fw-bold">New! Apple-iwatch Nike+ 42mm space gray</h5>
                <span class="font-15 text-muted">Approved on 1 April 2017</span>
                <div class="d-none d-md-flex align-items-center mt-2">
                    <h4 class="fs-6 fw-bold text-info">$250.00</h4>
                    <div class="product-action ms-auto mb-2 align-self-end">
                        <button class="btn btn-outline-secondary"><i class="mdi mdi-check text-success me-2 fs-3"></i>Approved</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product d-flex align-items-center pt-3">
            <img class="product-image me-3" alt="" src="assets/images/product/ipad.png">
            <div class="product-detail w-100">
                <h4 class="fw-bold">New! Apple-ipad silver black 128gb</h4>
                <span class="font-15 text-muted">Declined on 1 April 2017</span>
                <div class="d-none d-md-flex align-items-center mt-2">
                    <h4 class="fs-6 fw-bold text-info">$329.78</h4>
                    <div class="product-action ms-auto mb-2 align-self-end">
                        <button class="btn btn-outline-secondary"><i class="mdi mdi-close text-danger me-2 fs-3"></i>Declined</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>