<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">Temp Guide</h4>
        <div class="d-flex align-items-center flex-row mt-4 pt-3">
            <div class="display-5 text-info">
                <i class="wi wi-day-showers"></i>
                <span>73
                    <sup>°</sup>
                </span>
            </div>
            <div class="ms-2">
                <h3 class="mb-0">Saturday</h3>
                <small>Ahmedabad, India</small>
            </div>
        </div>
        <table class="table table-borderless mini-table mt-3">
            <tbody>
                <tr>
                    <td class="text-muted">Wind</td>
                    <td class="font-medium">ESE 17 mph</td>
                </tr>
                <tr>
                    <td class="text-muted">Humidity</td>
                    <td class="font-medium">83%</td>
                </tr>
                <tr>
                    <td class="text-muted">Pressure</td>
                    <td class="font-medium">28.56 in</td>
                </tr>
                <tr>
                    <td class="text-muted">Cloud Cover</td>
                    <td class="font-medium">78%</td>
                </tr>
            </tbody>
        </table>
        <ul class="row list-style-none text-center mt-4 pt-3">
            <li class="col-3">
                <h4 class="text-info">
                    <i class="wi wi-day-sunny"></i>
                </h4>
                <span class="d-block text-muted">09:30</span>
                <h3 class="mt-1">70
                    <sup>°</sup>
                </h3>
            </li>
            <li class="col-3">
                <h4 class="text-info">
                    <i class="wi wi-day-cloudy"></i>
                </h4>
                <span class="d-block text-muted">11:30</span>
                <h3 class="mt-1">72
                    <sup>°</sup>
                </h3>
            </li>
            <li class="col-3">
                <h4 class="text-info">
                    <i class="wi wi-day-hail"></i>
                </h4>
                <span class="d-block text-muted">13:30</span>
                <h3 class="mt-1">75
                    <sup>°</sup>
                </h3>
            </li>
            <li class="col-3">
                <h4 class="text-info">
                    <i class="wi wi-day-sprinkle"></i>
                </h4>
                <span class="d-block text-muted">15:30</span>
                <h3 class="mt-1">76
                    <sup>°</sup>
                </h3>
            </li>
        </ul>
    </div>
</div>