<!-- ============================================================== -->
<!-- Earnings -->
<!-- ============================================================== -->
<app-stats></app-stats>
<!-- ============================================================== -->
<!-- Product Sales -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-ecom-sales></app-ecom-sales>
    </div>
</div>
<!-- ============================================================== -->
<!-- Orders -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12 col-lg-8 d-flex align-items-stretch">
        <app-ecom-product class="w-100"></app-ecom-product>
    </div>
    <div class="col-sm-12 col-lg-4 d-flex align-items-stretch">
        <app-ecom-order class="w-100"></app-ecom-order>
    </div>
</div>
<!-- ============================================================== -->
<!-- Review -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-ecom-review></app-ecom-review>
    </div>
</div>