<div class="card">
    <div class="card-body">
        <h4 class="card-title">Reviews</h4>
        <h5 class="card-subtitle">Overview of Review</h5>
        <h2 class="font-medium mt-4 pt-3 mb-0">25426</h2>
        <span class="text-muted">This month we got 346 New Reviews</span>
        <div class="image-box mt-4 mb-4">
            <a href="#" class="me-2" data-toggle="tooltip" data-placement="top" title="Simmons">
                <img src="assets/images/users/user1.jpg" class="rounded-circle" width="45" alt="user">
            </a>
            <a href="#" class="me-2" data-toggle="tooltip" data-placement="top" title="Fitz">
                <img src="assets/images/users/user2.jpg" class="rounded-circle" width="45" alt="user">
            </a>
            <a href="#" class="me-2" data-toggle="tooltip" data-placement="top" title="Phil">
                <img src="assets/images/users/user3.jpg" class="rounded-circle" width="45" alt="user">
            </a>
            <a href="#" class="me-2" data-toggle="tooltip" data-placement="top" title="Melinda">
                <img src="assets/images/users/user4.jpg" class="rounded-circle" width="45" alt="user">
            </a>
        </div>
        <a href="javascript:void(0)" class="btn btn-lg btn-info waves-effect waves-light mt-2">Checkout All Reviews</a>
    </div>
</div>